body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
  background-color: #242424;
  color: #fff;
}

h1 {
  color: #fff;
}

.button-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 11px;
}

.button-container2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 11px;
}

a {
  display: flex;
  flex-direction: row; /* Change to row to align image and text horizontally */
  align-items: center;
  padding: 4vh 10%; /* Adjust the vertical padding using 'vh' unit */
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  background-color: #2068a4;
  text-decoration: none;
}

/* Main buttons (Training and Test) */
.main-button {
  width: calc(50% - 10px);
  padding: 5%;
  margin-right: 15px;
  margin-bottom: 10px;
  justify-content: center;
  flex-direction: column;
}

#btn-test {
  margin-right: 0;
}

/* Secondary buttons (Search Question, Statistics, STVO, Settings) */
.secondary-button {
  width: 100%;
  height: auto;
  padding: 1.6%;
  margin-bottom: 1%;
}

/* Hover styles for all buttons */
a:hover {
  background-color: #2581ccfd;
}

/* Style for the images inside buttons */
img {
  width: 40px;
  height: 40px;
  margin-right: 10px; /* Add margin-right to separate image from text */
}

.button-container img {
  margin-bottom: 10px;
}

.back-button{
  width: 10%;
  height: 10%;
  text-align: center;
  display: flex;
  justify-content: center; /* Add this property to center the text horizontally */
  align-items: center; /* Optionally, add this property to center the text vertically */
  font-size: 17px;
  padding: 5px;
  margin-bottom: 20px;
}