
body {
  font-family: Arial, sans-serif;
}

/* Basic CSS Reset */
body {
    margin: 0;
    padding: 0;
    background-color: #d4f5da;
    font-size: 16px;
  }
  
  /* Styling for the top bar */
  .top-bar {
    background-color: #008000; /* Choose your desired background color */
    overflow: hidden;
  }
  
  /* Styling for the bottom bar */
  .bottom-bar {
    display: flex;
    background-color: #389149;
    color: #fff; /* Choose your desired text color */
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    height: 12%;
  }
  
  /* Styling for the middle content section */
  .content {
    margin-top: 1%; /* Adjust the margin as per your requirement to separate the content from the top bar */
    margin-bottom: 60px; /* Adjust the margin as per your requirement to separate the content from the bottom bar */
    margin-left: 2%;
    padding: 20px;
    color: black;
  }

  #text{
    font-size: 20px;
    text-align: left;
  }
  
  /* Styling for the buttons in the bottom bar */
.buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 12%; /* Adjust the top position to move the buttons up or down */
    right: 6%; /* Adjust the right position to move the buttons left or right */
  }

  label img{
    width: fit-content;
    height: fit-content;
  }

  .q-button {
    margin-bottom: 1%;
    display: flex;
    flex-direction: row; /* Change to row to align image and text horizontally */
    align-items: center;
    height: 30px;
    width: 150px;
    padding: 7%;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    margin: 3%;
    border: none;
    color: white;
  }

  button[onclick="markQuestion()"]{
    background-color: #f5ab00;
  }  
  
  #submitButton{
    background-color: #008000;
  }

  .bar-button{
    float: right;
    width: 30px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 5px;
    background-color: white;
    border-color: white;
    border-style: solid;
  }

  a[href="#popup2"]{
    background-image: url("/img/info.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
  }

  #text{
    float: left;
  }

.image-holder{
  position: absolute;
  width: 100%;
  top: 20vh;
  left: 20px;
  display: flex;
  flex-direction: row;
}

  #image{
    margin-top: 10px;
    width: 0;
    height: 0;
    float: left;
    object-fit: contain;
  }
  
.image-holder video{
  width: 500px;
  height: 300px;
  margin-top: 10px;
  object-fit: contain;
  float: left;
}

#asw_pretext{
  width: 100%;
  text-align: left;
}
  .asw-container {
    margin-left: 10px;
    overflow-wrap: break-word;
    font-size: large;
  }

  input[type="number"]{
    height: 25px;
    width: 60px;
    font-size: 18px;
  }

  #asw_hint{
    margin-left: 11px;
  }
  
  .asw {
  padding: 5px 0;
    display: flex;
    align-items: center; /* Center the elements vertically */
    white-space: nowrap;
  }
  

  .asw input[type="checkbox"] {
    width: 40px;
    height: 40px;
    appearance: none;
    outline: none;
    background-image: url('/img/unchecked.png'); /* Default unchecked image */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
    cursor: pointer;
    margin-right: 12px;
  }

  .left-checkbar{
    height: 40px;
    width: 0;
    margin-right: 5px;
    border-left: none;
  }
  
  .asw input[type="checkbox"]:checked {
    background-image: url('/img/checked.png'); /* Custom checked image */
  }


.nq-button{
  width: 50px;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  margin: 0;
  border: none;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 50px;
  right: 50px;
  transition: all 200ms;
  font-size: 60px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}
.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}

table {
  width: 100%;
  text-align: left;
}

tr {
  display: table-row;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}