
body {
  font-family: Arial, sans-serif;
}


.chamfer {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f5ab00;
  padding: 7px;
  width: 20px;
  transform: translateX(50%) rotate(45deg);
  /* Your other styles for the chamfer */
}

.index-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 55px;
  background-color: white;
  border: solid 1px black;
  color: black;
  margin: 2.5px;
  padding: 0;
  overflow: hidden;
}

.video-icon{
  position: absolute;
  bottom: 10%;
  right: 2%;
  width: 30%;
  height: 30%;
  padding: 0;
  margin: 0;
  object-fit: contain;
}


.category-title{
  width: 30%;
}

.category-m{
  width: 5%;
  
}

table{
  padding: 1%;
  width: 95%;
}

td{
  padding: 0;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
}


tr .correction-block{
  height: 30px;
}

#popup2 .content {
  height: 100%;
  width: 100%;
  overflow: auto;
  transition: all 50ms;
  padding: 0;
  margin: 0;
}


#popup2 h2{
  margin: 0;
}

#popup2 .popup{
  margin: 0;
  width: 100%;
  padding: 0;
  padding-top: 20px;
}


.overlay{
  background: rgba(0, 0, 0, 0.9);
}

.pop-header{
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
  padding: 2%;
}

.correction-block{
  background: green;
  height: 30px;
}

#resultb{
  width: 200px;
}

#popup2{
  color: black;
  padding: 5px;

}

#resultdiv{
  position: absolute;
  right: 15%;
  display: flex;
  white-space: nowrap;
  align-items: center;
}

#resultdiv span{
  font-size: 20px;
  padding-left: 6%;
  font-weight: 500;
}


.content h2{
  width: 100%;
  display: flex;
  background: #004080;
  color: white;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
}


#popup2 .close {
  top: 20px;
  right: 3%;
  font-size: 60px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

#popup2 .close:hover {
  color: #004080;
}

.bottom-bar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    background: transparent;
    height: 16vh;
    width: 100%;
}

#warning{
  color: black;
  display: flex;
  margin-right: 8vw;
  white-space: nowrap;
  font-size: 95%;
  align-items: center;
}

#warning img{
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.buttons {
    top: 80vh; /* Adjust the top position to move the buttons up or down */
    right: 2%; /* Adjust the right position to move the buttons left or right */
  }

.q-button{
  height: 35px;
  padding: 10px;
  width: 160px;
  margin: 1%;
  border-radius: 1px;
  border: solid black 1px;
}

.tab{
    cursor: pointer;
    padding:10px;
    margin:0px 1px;
    background:#ffffff;
    display:inline-block;
    color:#000000;
    border-radius:3px 3px 0px 0px;
  }

.wrapper{
    display:flex;
    flex-direction: column;
    align-items: first baseline;
    width: 100%;
    height: 100%;
  }

.panel-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.panels{
    background:#008000;
    height:100%;
    width:100%;
    border-radius:3px;
    overflow:hidden;
    padding:10px; 
    padding-left: 25px;
  }

.panel{
display:none;
animation: fadein .2s;
}

@keyframes fadein {
from {
    opacity:0;
}
to {
    opacity:1;
}
}

.radio{
    display: none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel{
  display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab{
  background:#008000;
  color:#ffffff;
}