
.categories-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.category{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.category-text{
    align-self: flex-start;
    margin: 5px;
    font-size: 20px;
}

.cat-bar {
    width: 100%;
    height: 20px;
    border: none;
    padding: 2px;
    display: flex;
    align-items: stretch;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
  }
  
  .bar {
    height: 100%;
  }
  